In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/Bitcoin.csv')
print(df.shape)
df.head()

(2922, 7)

           Date     Price      Open      High       Low     Vol. Change %
0  Dec 31, 2022  16,537.4  16,607.2  16,635.9  16,487.3  130.44K   -0.42%
1  Dec 30, 2022  16,607.2  16,636.4  16,644.4  16,360.0  192.76K   -0.18%
2  Dec 29, 2022  16,636.4  16,546.2  16,659.1  16,496.6  181.47K    0.55%
3  Dec 28, 2022  16,546.2  16,705.9  16,781.1  16,474.2  217.96K   -0.96%
4  Dec 27, 2022  16,706.1  16,918.2  16,964.0  16,610.1  192.18K   -1.25%

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2922 non-null   object
 1   Price     2922 non-null   float64
 2   Open      2922 non-null   object
 3   High      2922 non-null   object
 4   Low       2922 non-null   object
 5   Vol.      2922 non-null   object
 6   Change %  2922 non-null   object
dtypes: float64(1), object(6)
memory usage: 159.9+ KB

In [8]:
df['Price'] = df['Price'].apply(lambda x: x.replace(',', ''))
df = df.astype({'Price': 'float'})

In [10]:
df.to_csv('datasets/Bitcoin.csv', index=False)