In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('dark', {'axes.grid' : False})

In [2]:
df = pd.read_csv('datasets/ETH.csv')
print(df.shape)
df.head()

(1456, 7)

         Date   Price    Open    High     Low     Vol. Change %
0  01/01/2019  139.15  131.29  139.78  130.06  245.68K    5.98%
1  01/02/2019  152.05  139.11  155.06  137.94  302.33K    9.28%
2  01/03/2019  146.04  152.05  153.49  143.48  226.68K   -3.96%
3  01/04/2019  152.10  146.17  154.57  144.31  249.08K    4.15%
4  01/05/2019  152.85  152.05  159.00  151.98  274.10K    0.50%

In [3]:
df['Price'] = df['Price'].apply(lambda x: x.replace(',', ''))
df = df.astype({'Price': 'float'})

In [6]:
df.info()
df.Price.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1456 entries, 0 to 1455
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1456 non-null   object
 1   Price     1456 non-null   float64
 2   Open      1456 non-null   object
 3   High      1456 non-null   object
 4   Low       1456 non-null   object
 5   Vol.      1455 non-null   object
 6   Change %  1456 non-null   object
dtypes: float64(1), object(6)
memory usage: 79.8+ KB

array([ 139.15,  152.05,  146.04, ..., 1200.8 , 1199.99, 1195.65])

In [5]:
df.to_csv('datasets/ETH.csv', index=False)