In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('dark', {'axes.grid' : False})

In [9]:
df = pd.read_csv('datasets/TSLA.csv')
print(df.shape)
df.head()

(2036, 7)

         Date  Price   Open   High    Low     Vol. Change %
0  10/05/2018  17.46  18.31  18.33  17.33  269.17M   -7.08%
1  10/04/2018  18.79  19.60  19.60  18.51  147.21M   -4.38%
2  10/03/2018  19.65  20.22  20.31  19.44  119.92M   -2.09%
3  10/02/2018  20.07  20.93  21.12  19.94  176.15M   -3.09%
4  10/01/2018  20.71  20.38  20.76  20.07  326.66M   17.34%

In [14]:
if df['Price'].dtype == 'object':
  df['Price'] = df['Price'].apply(lambda x: x.replace(',', ''))
  df = df.astype({'Price': 'float'})

In [11]:
df.info()
df.Price.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2036 entries, 0 to 2035
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2036 non-null   object
 1   Price     2036 non-null   float64
 2   Open      2036 non-null   float64
 3   High      2036 non-null   float64
 4   Low       2036 non-null   float64
 5   Vol.      2036 non-null   object
 6   Change %  2036 non-null   object
dtypes: float64(4), object(3)
memory usage: 111.5+ KB

array([17.46, 18.79, 19.65, ...,  1.47,  1.3 ,  1.32])

In [12]:
df.to_csv('datasets/TSLA.csv', index=False)