In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('dark', {'axes.grid' : False})

In [2]:
df = pd.read_csv('datasets/TSLA.csv')
print(df.shape)
df.head()

(2015, 7)

         Date  Price  Open  High   Low   Vol. Change %
0  09/07/2010   1.37  1.37  1.40  1.37  3.65M   -2.14%
1  09/08/2010   1.39  1.38  1.40  1.37  4.33M    1.46%
2  09/09/2010   1.38  1.40  1.40  1.38  5.64M   -0.72%
3  09/10/2010   1.34  1.38  1.40  1.32  5.80M   -2.90%
4  09/13/2010   1.38  1.39  1.39  1.37  5.41M    2.99%

In [3]:
df['Price'] = df['Price'].apply(lambda x: x.replace(',', ''))
df = df.astype({'Price': 'float'})

In [3]:
df.info()
df.Price.unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2015 entries, 0 to 2014
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      2015 non-null   object
 1   Price     2015 non-null   float64
 2   Open      2015 non-null   float64
 3   High      2015 non-null   float64
 4   Low       2015 non-null   float64
 5   Vol.      2015 non-null   object
 6   Change %  2015 non-null   object
dtypes: float64(4), object(3)
memory usage: 110.3+ KB

array([ 1.37,  1.39,  1.38, ..., 20.11, 19.26, 18.72])

In [5]:
df.to_csv('datasets/ETH.csv', index=False)